@model Railway_Group01.Data.Route
@{

	Layout = null;
	var list = ViewData["list"] as List<Railway_Group01.Data.Station>;
}

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta content="Codescandy" name="author">
<title>Edit Route</title>

<!-- main wrapper -->
<!-- navbar -->
<partial name="_AdminHeader" />


<div class="main-wrapper">
	<!-- navbar vertical -->
	<!-- navbar -->
	<partial name="_AdminNavbar" />

	<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
		<div class="navbar-vertical">
			<div class="px-4 py-5 d-flex justify-content-between align-items-center">
				<a href="../index.html" class="navbar-brand">
					<img src="../assets/images/logo/freshcart-logo.svg" alt="" />
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="navbar-vertical-content flex-grow-1" data-simplebar="">
				<ul class="navbar-nav flex-column">
					<li class="nav-item">
						<a class="nav-link " href="../dashboard/index.html">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-house"></i></span>
								<span>Dashboard</span>
							</div>
						</a>
					</li>
					<li class="nav-item mt-6 mb-3">
						<span class="nav-label">Store Managements</span>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="../dashboard/products.html">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-cart"></i></span>
								<span class="nav-link-text">Products</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link  active " href="../dashboard/categories.html">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-list-task"></i></span>
								<span class="nav-link-text">Categories</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link  collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#navOrders" aria-expanded="false" aria-controls="navOrders">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-bag"></i></span>
								<span class="nav-link-text">Orders</span>
							</div>
						</a>
						<div id="navOrders" class="collapse " data-bs-parent="#sideNavbar">
							<ul class="nav flex-column">
								<li class="nav-item">
									<a class="nav-link " href="../dashboard/order-list.html">List</a>
								</li>
								<!-- Nav item -->
								<li class="nav-item">
									<a class="nav-link " href="../dashboard/order-single.html">Single</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="../dashboard/vendor-grid.html">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-shop"></i></span>
								<span class="nav-link-text">Sellers / Vendors</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="../dashboard/customers.html">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-people"></i></span>
								<span class="nav-link-text">Customers</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="../dashboard/reviews.html">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-star"></i></span>
								<span class="nav-link-text">Reviews</span>
							</div>
						</a>
					</li>
					<li class="nav-item mt-6 mb-3">
						<span class="nav-label">Site Settings</span>
						<span class="badge bg-light-info text-dark-info">Coming Soon</span>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#!">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-newspaper"></i></span>
								<span class="nav-link-text">Blog</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-images"></i></span>
								<span class="nav-link-text">Media</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#!">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-gear"></i></span>
								<span class="nav-link-text">Store Settings</span>
							</div>
						</a>
					</li>
					<li class="nav-item mt-6 mb-3">
						<span class="nav-label">Support</span>
						<span class="badge bg-light-info text-dark-info">Coming Soon</span>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#!">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-headphones"></i></span>
								<span class="nav-link-text">Support Ticket</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-question-circle"></i></span>
								<span class="nav-link-text">Help Center</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#!">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-infinity"></i></span>
								<span class="nav-link-text">How FreshCart Works</span>
							</div>
						</a>
					</li>

					<li class="nav-item mt-6 mb-3">
						<span class="nav-label">Our Apps</span>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#!">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-apple"></i></span>
								<span class="nav-link-text">Apple Store</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#!">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-google-play"></i></span>
								<span class="nav-link-text">Google Play Store</span>
							</div>
						</a>
					</li>
					<li id="navMenuLevel" class="collapse " data-bs-parent="#sideNavbar">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link "
								   href="#"
								   data-bs-toggle="collapse"
								   data-bs-target="#navMenuLevelSecond2"
								   aria-expanded="false"
								   aria-controls="navMenuLevelSecond2">
									Two Level
								</a>
								<div id="navMenuLevelSecond2" class="collapse" data-bs-parent="#navMenuLevel">
									<ul class="nav flex-column">
										<li class="nav-item">
											<a class="nav-link " href="#">NavItem 1</a>
										</li>
										<li class="nav-item">
											<a class="nav-link " href="#">NavItem 2</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link  collapsed "
								   href="#"
								   data-bs-toggle="collapse"
								   data-bs-target="#navMenuLevelThree2"
								   aria-expanded="false"
								   aria-controls="navMenuLevelThree2">
									Three Level
								</a>
								<div id="navMenuLevelThree2" class="collapse " data-bs-parent="#navMenuLevel">
									<ul class="nav flex-column">
										<li class="nav-item">
											<a class="nav-link  collapsed "
											   href="#"
											   data-bs-toggle="collapse"
											   data-bs-target="#navMenuLevelThree3"
											   aria-expanded="false"
											   aria-controls="navMenuLevelThree3">
												NavItem 1
											</a>
											<div id="navMenuLevelThree3" class="collapse collapse " data-bs-parent="#navMenuLevelThree">
												<ul class="nav flex-column">
													<li class="nav-item">
														<a class="nav-link " href="#">NavChild Item 1</a>
													</li>
												</ul>
											</div>
										</li>
										<li class="nav-item">
											<a class="nav-link " href="#">Nav Item 2</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- main -->
	<main class="main-content-wrapper">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row mb-8">
				<div class="col-md-12">
					<div class="d-md-flex justify-content-between align-items-center">
						<!-- page header -->
						<div>
							<h2>Edit Route</h2>
							<!-- breacrumb -->
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb mb-0">
									<li class="breadcrumb-item"><a href="#" class="text-inherit">Dashboard</a></li>
									<li class="breadcrumb-item"><a href="#" class="text-inherit">Route</a></li>
									<li class="breadcrumb-item active" aria-current="page">Edit Route</li>
								</ol>
							</nav>
						</div>
						<div>
							<a href="/Route/RouteList" class="btn btn-me">Back to Route</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-12">
					<!-- card -->
					<div class="card mb-6 shadow border-0">
						<!-- card body -->
						<div class="card-body p-6">
							<h4 class="mb-4 h5 mt-5">Route Information</h4>
							<form asp-action="EditRoute" method="post">
								<div class="row">
									<!-- input -->
									<div class="mb-3 col-lg-6">
										<label class="form-label">Train</label>
										<select class="form-select" asp-for="StartStation.Id">
											@if (list != null)
											{
												@foreach (var station in list)
												{
													<option value="@station.Id">@station.Name</option>
												}
											}
										</select>
									</div>
									<!-- input -->
									<div class="mb-3 col-lg-6">
										<label class="form-label">Route</label>
										<select class="form-select" asp-for="EndStation.Id">
											@if (list != null)
											{
												@foreach (var station in list)
												{
													<option value="@station.Id">@station.Name</option>
												}
											}
										</select>
									</div>
									<!-- input -->
									<div class="mb-3 col-lg-6">
										<label class="form-label">Distance</label>
										<input asp-for="Distance" class="form-control" required />
										<span asp-validation-for="Distance" class="text-danger"></span>
									</div>

									<div></div>
									<!-- input -->
									<!-- input -->

									<div class="col-lg-12">
										<input type="submit" class="btn btn-me" value="Edit Route" />
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>

<partial name="_AdminFooter" />



