
<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon/favicon.ico">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<!-- Libs CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="/css/feather-icon.css" rel="stylesheet">
<link href="/css/simplerbar.min.css" rel="stylesheet">
<link href="/css/dropzone.min.css" rel="stylesheet" />

<!-- Theme CSS -->
<link rel="stylesheet" href="/css/theme4.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag("js", new Date());

	gtag("config", "G-M8S4MT3EYG");
</script>


<!-- main -->
<div>
	<!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-glass">
		<div class="container-fluid">
			<div class="d-flex justify-content-between align-items-center w-100">
				<div class="d-flex align-items-center">


					
				</div>
				<div>
					<ul class="list-unstyled d-flex align-items-center mb-0 ms-5 ms-lg-0">

						<li class="dropdown ms-4">
							<span  data-bs-toggle="dropdown" aria-expanded="false">
								<img src="/images/Admin.jpg" alt="" class="avatar avatar-md rounded-circle" />
							</span>

							
						</li>
						<li class="nav-item">
							<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Railway", new { area = "" })">
								<button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
