@using Microsoft.AspNetCore.Identity
@using Railway_Group01.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link header-nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">
            <span>
                <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" fill-rule="evenodd">
                        <path d="M0 0h30v30H0z" />
                        <g transform="translate(4 4)">
                            <circle fill-opacity=".18" fill="#595959" fill-rule="nonzero" cx="11" cy="11" r="11" />
                            <g transform="translate(3.27 2.237)" stroke="#595959" stroke-linecap="round">
                                <circle cx="7.857" cy="3.766" r="3.766" />
                                <path d="m0 17.13.212.028a63.762 63.762 0 0 0 15.233-.17v-.155c0-1.996-1.019-3.865-2.605-5.054C9.528 9.273 3.723 9.754 1.218 13.18A6.185 6.185 0 0 0 0 16.833v.297z" />
                            </g>
                        </g>
                    </g>
                </svg>
                @UserManager.GetUserName(User)
            </span>
        </a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Railway", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link header-nav-link" data="5" href="~/Identity/Account/Login">
            <span>
                <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" fill-rule="evenodd">
                        <path d="M0 0h30v30H0z" />
                        <g transform="translate(4 4)">
                            <circle fill-opacity=".18" fill="#595959" fill-rule="nonzero" cx="11" cy="11" r="11" />
                            <g transform="translate(3.27 2.237)" stroke="#595959" stroke-linecap="round">
                                <circle cx="7.857" cy="3.766" r="3.766" />
                                <path d="m0 17.13.212.028a63.762 63.762 0 0 0 15.233-.17v-.155c0-1.996-1.019-3.865-2.605-5.054C9.528 9.273 3.723 9.754 1.218 13.18A6.185 6.185 0 0 0 0 16.833v.297z" />
                            </g>
                        </g>
                    </g>
                </svg>

                <span class="d-md-inline d-none me-2">Login</span>
            </span>
        </a>
    </li>
}

