@model Railway_Group01.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <form asp-action="Search">
        <label class="form-label">From Station</label>
        <select class="form-select" name="from" asp-items="Model.StationsSelectList"></select>
        |
        <label class="form-label">To Station</label>
        <select class="form-select" name="to" asp-items="Model.StationsSelectList"></select>
        <input type="date" name="date" />
        <input type="submit" />
    </form>
</div>
