@page
@model LoginModel

@{
    Layout = "~/Views/Shared/_LayoutofTuong.cshtml";
}

<div class="container" style=" padding-top: 102px;z-index:1; height: 100%">
    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="container_signup" id="container" style="height:550px">
            <div class="form-container sign-up"></div>
            <div class="form-container sign-in">
                <form method="post">
                    <h1>Login</h1>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input asp-for="Input.Username" class="input_sign" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>

                    <input asp-for="Input.Password" class="input_sign" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                    <div>
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div>
                        <button type="submit">Login</button>
                    </div>
                </form>
            </div>
            <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-panel toggle-left">
                    </div>
                    <div class="toggle-panel toggle-right">
                        <h1>Hello, Friend!</h1>
                        <p>Register with your personal details to buy ticket</p>
                        <a class="hidden" asp-area="Identity" asp-page="Register" id="register">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}