@{
    ViewData["Title"] = "FINISH";
    Layout = "~/Views/Shared/_LayoutofTuong.cshtml";
}

<section class="bg-gradient-cus">
    <div class="container">
        <h1 class="text-white">@ViewData["Title"]</h1>
        <div class="d-flex">
            <div class="w-25 d-flex flex-column align-items-center">
                <span class="step"></span>
                <p class="text-white text-center">Fill passenger information</p>
            </div>
            <div class="w-25 d-flex flex-column align-items-center">
                <span class="step"></span>
                <p class="text-white text-center">Confirm information</p>
            </div>
            <div class="w-25 d-flex flex-column align-items-center">
                <span class="step"></span>
                <p class="text-white text-center">Make payment</p>
            </div>
            <div class="w-25 d-flex flex-column align-items-center">
                <span class="step checked"></span>
                <p class="text-white text-center">Finish</p>
            </div>
        </div>
    </div>
</section>

<div class="container">

    <div class="p-5" style="background-color: #08618d">
        <div class="mx-auto p-3 bg-light rounded border" style="width: 420px">
            <h2 class="text-success text-center mb-5">Your order is finish!</h2>
            <div class="d-flex justify-content-between">
                <a asp-area="Identity" asp-page="/Account/Manage/BookingHistory" class="btn btn-orange fw-bold">View Booking History</a>
                <a href="#" class="btn btn-orange">View ticket</a>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <a asp-controller="Railway" asp-action="Index" class="btn btn-orange fw-bold"> 👈 Back Home 🔙</a>
        </div>
    </div>
</div>

