html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.banner {
    background: url('../images/banner.jpg') no-repeat center;
    background-size: cover;
    height: 550px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-orange {
    background-color: #EC5B24;
    color: #FFF;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

    .btn-orange.disabled {
        background-color: #E1E1E1;
        cursor: default;
        color: #C5C5C5
    }

    .btn-orange.secondary {
        background-color: #FFF;
        color: #EC5B24;
        border: 1px solid #EC5B24;
        box-shadow: none
    }

    .btn-orange:hover {
        color: #FFF;
        background-color: #ee6d3b;
    }

    .btn-orange:active {
        color: #FFF !important;
        background-color: #e34d14 !important;
    }

.bg-orange {
    background-color: #ee6d3b;
}

.text-orange {
    color: #ee6d3b;
}

.tb-link {
    background-color: #FFF;
    color: #000;
}

    .tb-link.active {
        border-bottom: 2px solid #e34d14 !important;
    }
.nav-link{
    color:#000;
}
.nav-link:hover {
    color: #EC5B24;
}

.nav-link:active {
    color: #EC5B24;
}

.nav-link.active {
    color: #EC5B24 !important;
}
.bg-gradient-cus {
    line-height: 1.2;
    box-sizing: border-box;
    background: linear-gradient(45deg,#721053,#AD2E41);
    padding: 80px 80px 10px;
    display: block;
}

.item {
    border: 1px solid #CFE3BA;
    background: #fffefe;
    border-radius: 4px;
    width: 120px;
    height: 57px;
    border: 1px 10px #cccccc;
}

.card-active {
    border-color: #EC5B24 !important;
    background-color: #FEEFEA !important;
}

.c-input-cntr {
    position: relative !important;
    border-bottom: 1px solid rgba(0,0,0,.12);
    height: 100%;
    line-height: 24px;
}
    .c-input-cntr .input-label {
        font-size: 12px;
        color: rgba(0,0,0,.38);
        transform: translate(0,0);
        transition-duration: .2s;
        cursor: text;
        height: 23px;
        overflow: visible;
    }
.form-cntr .train-form .form-fields .c-input-cntr .c-input {
    background: 0 0;
    font-size: 16px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-class {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight:;
    --bs-nav-link-color: #EC5B24;
    --bs-nav-link-hover-color: #ee6d3b;
    --bs-nav-link-disabled-color: rgba(222, 226, 230, 0.75);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-class-fare {
    --bs-nav-underline-gap: 1rem;
    --bs-nav-underline-border-width: 0.125rem;
    --bs-nav-underline-link-active-color: #EC5B24;
    gap: var(--bs-nav-underline-gap);
}
    .nav-class-fare .nav-link.active, .nav-class-fare .show > .nav-link {
        font-weight: 700;
        color: #EC5B24;
        border-bottom-color: #EC5B24;
    }
    .nav-class-fare .nav-link {
        padding-right: 0;
        padding-left: 0;
        border-bottom: var(--bs-nav-underline-border-width) solid transparent;
        width:120px;
        text-align:center;
        font-size:18px;
        font-weight:600;
    }
.day-item {
    width: 120px;
    height: 120px;
    margin: 4px 4px 0 0;
    padding-top:5px;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 4px;
    text-align: center;
    vertical-align: top;
    position: relative;
    cursor: pointer;
}
    .day-item.chance-text {
        font-size: 11px;
        letter-spacing: 0;
        text-align: center;
        color: rgba(0,0,0,.64)
    }
    .day-item.sync-text {
        position: absolute;
        font-size: 11px;
        letter-spacing: 0;
        text-align: center;
        color: rgba(0,0,0,.64);
        left: 0;
        right: 0;
        bottom: 4px
    }
    .day-item.date {
        font-size: 16px;
        color: rgba(0,0,0,.87);
        margin: 10px 0 5px
    }
    .day-item.red {
        background: rgba(208,1,27,.05);
        border-color: rgba(208,1,27,.2)
    }
        .day-item.red .avail-text {
            color: #dc3545;
            font-weight: 600;
            font-size: 18px
        }
    .day-item.green {
        background: rgba(85,155,9,.1);
        border-color: rgba(85,155,9,.2)
    }
        .day-item.green .avail-text {
            color: #198754;
            font-weight: 600;
            font-size: 18px
        }
    .day-item.na {
            background: #f2f2f2;
            border-color: #d8d8d8
        }
        .day-item.na .avail-text {
            color: #6c757d;
            font-weight: 600;
            font-size: 18px
        }
.day-item.calendar-page-link {
    text-align: center;
    text-decoration: none;
    color: #EC5B24;
    padding: 35px 10px;
    border-color: #EC5B24;
    font-size: 14px;
    font-weight: 400
}