@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Checkout Page";
}

<script src="https://www.paypal.com/sdk/js?client-id=@(ViewBag.PaypalClientId)&components=buttons"></script>

<div class="p-5" style="background-color: #08618d">
    <div class="mx-auto p-3 bg-light rounded border" style="width: 420px">
        <h2 class="text-center mb-5">Complete your order</h2>
        <div class="row mb-3">
            <div class="col-5">Delivery Address</div>
            <div class="col-7"></div>
        </div>
        <div class="row mb-3">
            <div class="col-5">Total Amount</div>
            <div class="col-7"></div>
        </div>
        <div class="row mb-3">
            <div class="col-5">Quantity</div>
            <div class="col-7"></div>
        </div>
        <br />
        <div id="notification-container"></div>
        <div id="paypal-button-container"></div>
    </div>
</div>
<script>
    let paypal_buttons = paypal.Buttons({
        style: {
            layout: 'vertical',
            color: 'blue',
            shape: 'rect',
            label: 'paypal'
        },

        createOrder() {
            return fetch("/Paypal/CreateOrder", {
                method: "POST",
            })
                .then((response) => response.json())
                .then((order) => order.id);
        },

        onApprove(data) {
            paypal_buttons.close();
            console.log(data.orderID)
            // This function captures the funds from the transaction.
            return fetch("/Paypal/CompleteOrder?OrderID=" + data.orderID, {
                method: "POST",
                body: {
                    orderID: data.orderID
                }
            })
                .then((response) => response.json())
                .then((details) => {
                    // This function shows a transaction success message to your buyer.
                    alert('Transaction completed by ' + details.payer.name.given_name);
                });
        }
    });
    paypal_buttons.render('#paypal-button-container');
</script>