
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_LayoutofTuong.cshtml";
}

<div class="container-fluid">
    <div class="row position-relative" style="z-index:1">
        <div class="brand-banner col-12 position-fixed top-0 w-100" style="z-index:0"></div>
        <div class="col-6 mx-auto bg-white rounded" style="box-shadow: 0 0 10px rgba(0,0,0,.3);margin-top:110px;border-radius: 8px; padding: 35px 40px; z-index:1 ">
            <div class="login-header">
                <h5 class="mb-3 text-orange fw-medium">Need help with recent bookings?</h5>
                    <button class="btn btn-orange">
                        Login
                    </button>
            </div>
            <div class="about-section d-flex flex-column" style="padding-top: 10px;">
                <div class="">
                    <span class="mb-3 text-orange fs-4">About ixigo</span>
                </div>
                    <div class="about-sub-heading">
                        Here's a compilation of all the travel queries you may have. We're
                        pretty sure the answer to your question will be here. Just in case you don't see it, please use
                        contact us option mentioned below and we will get back to you for resolution.
                    </div>
                </div>
                <div class="mt-3">
                    <div class="accordion">
                        <div class="accordion-item ">
                            <div class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <span class="question-inner">What is ixigo?</span><span class="ixi-icon-chevron dd-icon"></span>
                                </button>
                            </div>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <span>
                                    ixigo (Le Travenues Technology Ltd.) was started by
                                    Rajnish Kumar and Aloke Bajpai in June 2007. ixigo is an intelligent, AI-based
                                    travel app, with a user base of over 170 million travellers. ixigo uses
                                    Artificial Intelligence for deal discovery, personalized recommendations,
                                    dynamic marketing, airfare predictions, train delay information, PNR
                                    confirmation status, infrastructure cost optimization, business intelligence and
                                    for providing fully-automated customer service over chat and voice.
                                </span>
                            </div>
                        </div>
                        <div class="accordion-item ">
                            <div class ="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="question-inner">
                                        What are your terms of use and
                                        privacy policy? Where can I read more about it?
                                    </span><span class="ixi-icon-chevron dd-icon"></span>
                                </button>
                            </div>
                            <div id="collapseTwo" class="accordion-collapse collapse px-2" data-bs-parent="#accordionExample">
                                    <span>
                                        We take the privacy of our users very seriously! <br>You
                                        can view our Privacy Policy:
                                    </span><a class="link"
                                              href="https://www.ixigo.com/about/more-info/privacy/"
                                              target="_blank">https://www.ixigo.com/about/more-info/privacy/</a><span>
                                        &amp;
                                        <br>Terms Of Use:
                                    </span><a class="link"
                                              href="https://www.ixigo.com/about/more-info/terms-of-use/"
                                              target="_blank">https://www.ixigo.com/about/more-info/terms-of-use/</a><span></span>
                            </div>
                        </div>
                        <div class="accordion-item ">
                            <div class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span class="question-inner">
                                        How can I know about ixigo
                                        mobile apps?
                                    </span><span class="ixi-icon-chevron dd-icon"></span>
                                </button>
                            </div>
                            <div id="collapseThree" class="accordion-collapse collapse px-2" data-bs-parent="#accordionExample">
                                    <span>Know more about the ixigo mobile apps here: </span><a class="link" href="https://www.ixigo.com/mobile"
                                                                                                target="_blank">https://www.ixigo.com/mobile</a><span></span>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <span class="question-inner">
                                        Why is ixigo different from
                                        other travel booking platforms?
                                    </span><span class="ixi-icon-chevron dd-icon"></span>
                                </button>
                            </div>
                            <div id="collapseFour" class="accordion-collapse collapse px-2" data-bs-parent="#accordionExample">
                                    <span>
                                        ixigo is an intelligent, AI-based travel platform that
                                        helps you organise, book and track your trips. With unique features such as the
                                        Online/Offline Train Running Status, PNR Prediction, Refund Calculator, TDR
                                        tracking, Station Alarm and so on, the ixigo Trains app offers a seamless
                                        booking experience. The app can currently be used in 8 Indian languages. On the
                                        other hand, the ixigo flights app also offers the users some unique features
                                        such as fare prediction, auto web check-in and so on!
                                    </span>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <span class="question-inner">
                                        What if I cannot find my
                                        question on this list?
                                    </span><span class="ixi-icon-chevron dd-icon"></span>
                                </button>
                                </div>
                            <div id="collapseFive" class="accordion-collapse collapse px-2" data-bs-parent="#accordionExample">
                                    <span>
                                        In case you have a specific question not addressed in
                                        this section then, please reach out to us by clicking here:
                                    </span><a class="link" href="https://www.ixigo.com/help-center#trip-list"
                                              target="_blank">https://www.ixigo.com/help-center#trip-list</a><span></span>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <span class="question-inner">
                                        How do I contact ixigo customer
                                        care?
                                    </span><span class="ixi-icon-chevron dd-icon"></span>
                                </button>
                            </div>
                            <div id="collapseSix" class="accordion-collapse collapse px-2" data-bs-parent="#accordionExample">
                                    <span>
                                        For any feedback or queries, you can visit the ixigo
                                        customer service section:
                                    </span><a class="link"
                                              href="https://ixi.to/helpcenter"
                                              target="_blank">https://ixi.to/helpcenter</a><span>
                                        <br>You could also reach out
                                        to us via social media: <br>Facebook:
                                    </span><a class="link"
                                              href="https://www.facebook.com/ixigo"
                                              target="_blank">https://www.facebook.com/ixigo</a><span> <br>Twitter: </span><a class="link" href="https://twitter.com/ixigo"
                                                                                                                              target="_blank">https://twitter.com/ixigo</a><span> <br>Instagram: </span><a class="link" href="https://www.instagram.com/ixigo"
                                                                                                                                                                                                           target="_blank">https://www.instagram.com/ixigo</a><span> </span>
                                </div>
                            </div>
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    <span class="question-inner">
                                        How can I track refunds on
                                        ixigo?
                                    </span><span class="ixi-icon-chevron dd-icon"></span>
                                </button>
                            </div>
                            <div id="collapseSeven" class="accordion-collapse collapse px-2" data-bs-parent="#accordionExample">
                                    <span>
                                        Please follow the steps mentioned below to track your
                                        refund status:<br>1. Log in to your ixigo account<br>2. Click on the customer
                                        service tab<br>3. Select your trip from the 'MyTrips' section<br>4. Click on the
                                        booking ID and check the refund status
                                    </span>
                                </div>
                            </div>
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    <span class="question-inner">
                                        How do I cancel my ticket on
                                        ixigo?
                                    </span><span class="ixi-icon-chevron dd-icon"></span>
                                </button>
                            </div>
                            <div id="collapseEight" class="accordion-collapse collapse px-2" data-bs-parent="#accordionExample">
                                    <span>
                                        Please follow these simple steps to cancel your ticket on
                                        ixigo: <br>- Log in to ixigo<br>- Visit the 'My Trips' section on the app<br>-
                                        Select the desired booking, scroll down and click on the 'cancel ticket' tab to
                                        initiate cancellation. <br>- In case of partial cancellation, please select the
                                        desired passenger(s) and click on the cancel tab.
                                    </span>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    <span class="question-inner">
                                        How do I get a refund on a
                                        ticket booking through ixigo?
                                    </span><span class="ixi-icon-chevron dd-icon"></span>
                                </button>
                            </div>
                            <div id="collapseNine" class="accordion-collapse collapse px-2" data-bs-parent="#accordionExample">
                                    <span>
                                        For refund of a confirmed booking, you need to place a
                                        cancellation request from the My Trips section of the ixigo app. <br>For refund
                                        related to a failed booking, the amount deducted from your account will be
                                        reversed in the source account within 7 days.
                                    </span>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                    <span class="question-inner">
                                        What is your Customer Grievance
                                        Redressal policy?
                                    </span><span class="ixi-icon-chevron dd-icon"></span>
                                </button>
                            </div>
                            <div id="collapseTen" class="accordion-collapse collapse px-2" data-bs-parent="#accordionExample">
                                    <span>
                                        You can view our Customer Grievance Redressal policy
                                        here:
                                    </span><a class="link" href="https://bit.ly/3REGjLT"
                                              target="_blank">https://bit.ly/3REGjLT</a><span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>